* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 1260px;
  margin: auto;
}

.form {
  width: 100%;
  display: flex;
  gap: 4rem;
  height: 100vh;
  background-image: url("BMI.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  height: 100%;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 2rem;
    border-radius: 40px;
    padding:30px;
    background-image: linear-gradient(135deg, #868f96 10%, #596164 100%);
    color: white;
    width: 100%;
    max-width: 400px;
        text-align: center;
    .myLabel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      gap: 2rem;

    }
    .myButton{
      text-align: center;
      width: 100%;
      height: 100%;
      cursor: pointer;

    }
    .myOutput{
      text-align: center;
        width: 100%;
    }
  select{
   padding: 10px;
   border-radius: 10px;
    border: none;
    outline: none;
  

  }

  }

  input {
    border: none;
    padding: 10px;
    color: black;
    border-radius: 10px;
  }

  input:focus {
    outline: none;
  }
  @media (max-width: 992px) {
    .form {
      align-items: center;

    }

    .content {
      width: 100%;
      align-items: center;
      padding: 20px;
    }
  }
}